SECRET_KEY=change-me
DEBUG=True
DJANGO_SETTINGS_MODULE=config.settings.local
DB_NAME=ufrs_db
DB_USER=root
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=3306
ALLOWED_HOSTS=127.0.0.1,localhost
API_BASE_URL=http://127.0.0.1:8000
API_TIMEOUT_SECONDS=10
